{
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 4,
  "singleQuote": false,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "parser": "babel",
  "noSemi": true,
  "rcVerbose": false
}
